<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>

<body>
    <a href="/" class="btn">Вернуться назад</a>

    <% if(users.length == 0) { %>

        <h1>Cписок пользователей пуст</h1>

    <% } else { %>

            <table>
                <thead>
                    <tr>

                        <th>ID</th>
                        <th>Имя</th>
                        <th>Возраст</th>
                        <th>Язык</th>
                        <th>Дата рождения</th>
                        <th>Команды</th>
                        <th>Время регистрации</th>

                    </tr>
                </thead>

                <tbody>
                    <% for(let user of users) { %>
                        <tr>
                            <td>
                                <%= user.id %>
                            </td>
                            <td>
                                <%= user.name %>
                            </td>
                            <td>
                                <%= user.age %>
                            </td>
                            <td>
                                <%= user.lang %>
                            </td>
                            <td>
                                <%= user.birth %>
                            </td>
                            <td>
                                <%= user.timeReg %>
                            </td>

                            <td>
                                <a href=<%="/users/delete/" + user.id %> > <img class="btn-link"
                                        src="/static/images/trash-bin.png"> </a>
                                <a href=<%="/users/update/" + user.id %> > <img class="btn-link"
                                        src="/static/images/pen.png"> </a>
                            </td>

                        </tr>
                        <% } %>
                </tbody>

            </table>
    <% } %>
</body>

</html>